.sidebar {
    .nav-link {
        font-weight: 500;
        color: #333;
        .feather {
            margin-right: 4px;
            color: #999;
        }
        &.active {
            color: #007bff;
            .feather {
                color: inherit;
            }
        }
    }
}
.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}