<nav class="navbar row  shadow m-0" *ngIf="loginService.getUser()">
  <div class="admin-nav col-sm-10 d-flex align-items-center">
    <fa name="search"></fa><input class="form-control form-control-dark w-100" type="text" placeholder="Search" *ngIf="loginService.getUser()" aria-label="Search">
  </div>
  <ul class="admin-nav-menu px-3 col-sm-2 row m-0" *ngIf="loginService.getUser()">
    <li class="nav-item text-nowrap col-sm-4 notification">
      <a class="nav-link" href="javascript:void(0)" (click)="signOut()">
        <fa name="bell"></fa>
        <span>1</span>
      </a>
    </li>
    <li class="nav-item text-nowrap admin-nav-dropdown col-sm-8">
      <div ngbDropdown class="dropdown d-inline-block user-dropdonw" placement="bottom-right">
        <a class="btn  d-flex align-items-center" id="dropdownBasic1" ngbDropdownToggle>
          <span class="user-img"><img src="assets/img/logo.png" class="img-fluid" /></span>
          <span class="username">{{loginService.getUser()[0].username}}</span>
        </a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <a class="dropdown-item" href="javascript:void(0)" (click)="signOut()">Sign out</a>
        </div>
      </div>
      <!-- <a class="nav-link" href="javascript:void(0)" (click)="signOut()">Sign out</a> -->
    </li>
  </ul>
</nav>
