.admin-nav {
    
    padding: 10px;
}
.navbar {
    background: #fff;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    ul {
        margin: 0;
        li {
            list-style: none;
            border-left: 1px solid #ddd;
            a {
                padding: 12px 0;
                text-align: center;
            }
        }
    }
}
.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}
.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}
.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}
.user-dropdonw {
    background: #fff;
    border: 0;
    color: #828fa4;
    .dropdown-toggle {
        border:0;
        width: 100%;
        .user-img {
            display: inline-block;
            background: #ddd;
            border-radius: 50%;
            padding: 4px 0;
            width: 35px;
            height: 35px;
        }
        .username {
            width: 70px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
        }
        &:hover {
            background-color: #fff;
        }
    }

}
.notification {
    a {
        font-size: 21px;
        color: #808da3;
        position: relative;
        span {
            position: absolute;
            height: 14px;
            width: 14px;
            background: #c83e45;
            border-radius: 50%;
            bottom: 14px;
            right: 0;
            color:#fff;
            font-size:10px;
            text-align: center
        }
    }
}