body {
    font-size: .875rem;
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        padding: 48px 0 0;
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    }
}
@media (min-width: 768px){
    [role="main"] {
        padding-top: 48px;
    }
}

@media (min-width: 576px) {
    .ml-sm-auto, .mx-sm-auto {
        margin-left: auto!important;
    }
}
