<app-header></app-header>
<div class="login-block">
  <ng-template #forgotPasswordPopup let-modal>
    <form class="login-form" [formGroup]="passwordRequestForm"> 
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Forgot Password</h4>
      <button type="button" class="close" aria-label="Close" (click)="close('dismiss')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body">
      
        <div class="form-group">
          <label for="dateOfBirth">Email</label>
          <div class="input-group">
            <input id="dateOfBirth" class="form-control" type="text" formControlName="email" name="email">
          </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" [disabled]="!passwordRequestForm.valid" (click)="close('save')">Send Mail</button>
    </div>
    </form>
  </ng-template>
  <div class="login-container">
    <div class="container">
      <div class="row">
        <div class="login-topbar"></div>
        <div class="col-md-12 login-sec">
          <div class="text-center mb-2">
            <img src="/assets/img/logo.png" alt="" srcset="">
          </div>
          <h3 class="text-center mb-4">Access Your Account</h3>
          <form class="login-form" [formGroup]="loginForm">
            <div class="form-group">
              <label for="exampleInputEmail1" class="text">Email Address</label>
              <input type="text" formControlName="email" class="form-control" placeholder="">

            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" class="text">Password</label>
              <input type="password" formControlName="password" class="form-control" placeholder="">
            </div>
            <div class="form-group text-center">
              <label class="form-check-label  form-check">
                  <input type="checkbox" class="form-check-input">
                  Remember Me for 30 days.
                </label>
            </div>
            <div class="d-flex w-100 form-group text-center mb-5 mt-4">
                <button type="button" [disabled]="!loginForm.valid" (click)="login()"
                class="btn btn-login m-auto radious-50">Access Account</button>
            </div>
            <!-- <div class="">
              <button (click)="socialSignIn('google')" class="loginBtn loginBtn--google">
                  Login with Google
                </button>
              
            </div> -->
            
          </form>
          <div class="login-social">
              
            <a href="javascript:void(0)">
                <fa name="facebook"></fa>
            </a>
            <a href="javascript:void(0)">
                <fa name="twitter"></fa>
            </a>
            <a href="javascript:void(0)">
                <fa name="github"></fa>
            </a>
            <a href="javascript:void(0)" (click)="socialSignIn('google')">
              <fa name="google-plus"></fa>
            </a>
          </div>
          
        </div>
      </div>
    </div>
    <div class="row mt-2 admin-link-color">
      <div class="col">
        <a href="javascript:void(0)" (click)="open(forgotPasswordPopup)">Forgto your password</a>
      </div>
      <div class="col text-right">
        <a href="javascript:void(0)">Create new account?</a>
      </div>
    </div>
  </div>
