<div class="admin-score-widget w-100">
  <div class="d-flex w-100 align-items-center">
    <div class="label">
      <span>{{label}}</span>
      <h1>{{figur | currency}}</h1>
    </div>
    <div class="text-right ml-auto">
      <span class="d-flex align-items-center" [ngClass]="{'up': status === 'up', 'down': status === 'down', 'middle': status === 'middle'}">
        <div class="d-flex flex-column mr-1">
          <fa name="sort-up" *ngIf="status === 'up' || status === 'middle'"></fa>
          <fa name="sort-down" *ngIf="status === 'down' || status === 'middle'"></fa>
        </div>
        <div>{{statusNumber | number}}</div>
      </span>
    </div>
  </div>
  <highcharts-chart 
    *ngIf="chartOptions"
    [Highcharts]="Highcharts"
    #highch
    [constructorType]="chartConstructor"
    [options]="chartOptions"
    [callbackFunction]="chartCallback"

    [(update)]="updateFlag"
    [oneToOne]="oneToOneFlag"
    [runOutsideAngular]="runOutsideAngularFlag"
    class="hight-chart"
  ></highcharts-chart>
</div>