<app-header></app-header>
<div class="login-block">
  
  <div class="login-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12 login-sec">
          <h2 class="text-center">Reset Password</h2>
          <form class="login-form" [formGroup]="resetPassword">
            <div class="form-group">
              <label for="exampleInputEmail1" class="text-uppercase">New Password</label>
              <input type="password" formControlName="newpassword" class="form-control" placeholder="">

            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" class="text-uppercase">Confirm password</label>
              <input type="password" formControlName="confirmpassword" class="form-control" placeholder="">
            </div>


            <div class="form-check">
              
              <button type="button" [disabled]="!resetPassword.valid" (click)="resetPasswordSave()"
                class="btn btn-login float-right">Submit</button>
            </div>
            
          </form>
          
          <div class="copy-text">Created with <i class="fa fa-heart"></i> by <a
              href="http://grafreez.com">Grafreez.com</a></div>
        </div>
        <!-- <div class="col-md-8 banner-sec">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <img class="d-block img-fluid" src="assets/img/pexels-photo.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                  <div class="banner-text">
                    <h2>This is First Slide</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore
                      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid" src="assets/img/people-coffee-tea-meeting.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                  <div class="banner-text">
                    <h2>This is Second Slide</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore
                      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid" src="assets/img/pexels-photo-872957.jpeg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                  <div class="banner-text">
                    <h2>This is Heaven</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore
                      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div> -->
      </div>
    </div>
  </div>
