/* You can add global styles to this file, and also import other style files */
$fa-font-path: "~font-awesome/fonts";
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/functions';
@import '~primeicons/primeicons.css';
@import '~font-awesome/scss/font-awesome';
@import '~primeng/resources/themes/nova-light/theme.css';
@import '~primeng/resources/primeng.min.css';

body {
    background: #f2f6f7;
}
.radious-50 {
    border-radius: 50px;
}
@media only screen and (max-width: 500px) {
    .admin-container {
        padding-top: 60px !important;
        .admin-dash-title {
            text-align: center;
        }
    }
    .admin-nav {
        width: 45%
    }
    .admin-nav-menu {
        width: 55%;
        .notification {
            width: 30%
        }
        .admin-nav-dropdown {
            width: 70%;
        }
    }
    .admin-score-widget {
        margin-bottom: 15px;
    }
}