<app-header></app-header>
<div class="container-fluid admin-container">
  <div class="row">
    <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
      <div
        class="row justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="admin-dash-title col-sm-4">
          <span>DASHBOARD</span>
          <h1 class="h2">Analytics</h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0 ml-auto mr-auto col-sm-4">
          <div class="btn-group mr-2 m-auto">
            <button type="button" class="btn btn-sm bg-white" [ngClass]="{'active': activeTop === 'share'}"(click)="setActiveTop('share')">Share</button>
            <button type="button" class="btn btn-sm bg-white" [ngClass]="{'active': activeTop === 'export'}" (click)="setActiveTop('export')">Export</button>
          </div>
        </div>
        <div class="ml-auto col-sm-4 date-range">
          <div class="input-group">
            <input class="form-control" placeholder="From" (ngModelChange)="changeTopWidgets($event)"
            name="dp" [(ngModel)]="from" ngbDatepicker #f="ngbDatepicker" (click)="f.toggle()" />
            <input class="form-control" placeholder="To" (ngModelChange)="changeTopWidgets($event)"
                    name="dp" [(ngModel)]="to" ngbDatepicker #t="ngbDatepicker" (click)="t.toggle()" />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="f.toggle(); t.toggle()" type="button">
                <fa name="calendar"></fa>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3" *ngFor="let widget of widgetData">
          <app-chart-info-widget #widgt
            [color]="widget.color"
            [fillColor]="widget.fillColor"
            [stats]="widget.stats"
            [figur]="widget.figur"
            [status]="widget.status"
            [statusNumber]="widget.statusNumber"
            [label]="widget.label"
          ></app-chart-info-widget>
        </div>
        <!-- <div class="col-sm-3">
          <app-chart-info-widget
            color="#abe9cb"
            fillColor="#e8faf1"
            [stats]="stats"
            figur="280,390"
            status="down"
            statusNumber="17.4"
            label="import"
          ></app-chart-info-widget>
        </div>
        <div class="col-sm-3">
          <app-chart-info-widget
            color="#fde197"
            fillColor="#fff7e5"
            [stats]="stats"
            figur="280,390"
            status="middle"
            statusNumber="17.4"
            label="import"
          ></app-chart-info-widget>
        </div>
        <div class="col-sm-3">
          <app-chart-info-widget
            color="#f299af"
            fillColor="#fcecef"
            [stats]="stats"
            figur="280,390"
            status="up"
            statusNumber="17.4"
            label="import"
          ></app-chart-info-widget>
        </div>         -->
      </div>
      <br>
      <div class="row">
          <div class="col-sm-8">
            <div class="card">
              <div class="card-header">Sessions</div>
              <div class="card-body pt-6">
                <div class="row cardHead">
                  <div class="col">
                    <div class="btn-toolbar mb-2 mb-md-0">
                      <div class="btn-group mr-2 ">
                        <button type="button" class="btn btn-sm bg-white" [ngClass]="{'active': activeSession === 'hour'}" (click)="changeSession(); setActiveTime('hour')">Hour</button>
                        <button type="button" class="btn btn-sm bg-white" [ngClass]="{'active': activeSession === 'day'}" (click)="changeSession(); setActiveTime('day')">Day</button>
                        <button type="button" class="btn btn-sm bg-white" [ngClass]="{'active': activeSession === 'month'}" (click)="changeSession(); setActiveTime('month')">Month</button>
                        <button type="button" class="btn btn-sm bg-white" [ngClass]="{'active': activeSession === 'Year'}" (click)="changeSession(); setActiveTime('year')">Year</button>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                      <div class="input-group">
                          <input class="form-control" placeholder="From" (ngModelChange)="changeSession($event)"
                          name="dp1" [(ngModel)]="from_one" ngbDatepicker #fr="ngbDatepicker" (click)="fr.toggle()" />
                          <input class="form-control" placeholder="To" (ngModelChange)="changeSession($event)"
                                  name="dp1" [(ngModel)]="to_one" ngbDatepicker #tr="ngbDatepicker" (click)="tr.toggle()" />
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="fr.toggle(); tr.toggle()" type="button">
                              <fa name="calendar"></fa>
                            </button>
                          </div>
                        </div>
                  </div>
                </div>
                <app-chart></app-chart>
              </div> 
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-header">Users By Device</div>
              <div class="card-body text-center d-flex justify-content-center flex-column">
                <app-pie-chart class="m-auto"></app-pie-chart>
                <div class="pie-chart-legent d-flex">
                  <div class="desktop col">
                    <fa name="desktop"></fa>
                    <p>Desktop</p>
                    <h3>{{deviceView[0][1]}}%</h3>
                  </div>
                  <div class="tablet col">
                    <fa name="tablet"></fa>
                    <p>Tablet</p>
                    <h3>{{deviceView[1][1]}}%</h3>
                  </div>
                  <div class="mobile col">
                    <fa name="mobile"></fa>
                    <p>Mobile</p>
                    <h3>{{deviceView[2][1]}}%</h3>
                  </div>
                </div>
              </div> 
              <div class="card-footer">
                <div class="row align-items-center">
                  <div class="col">
                    <select class="custom-select" #input id="inputGroupSelect01" (change)="changeDevice(input)">
                      <option selected value="0">Hour</option>
                      <option value="1">Day</option>
                      <option value="2">Month</option>
                      <option value="3">Year</option>
                    </select>
                  </div>
                  <div class="col text-right">
                    <a href="javascript:void(0)">View full report</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <br/>
      <div class="card mb-4">
        <div class="row table-search-wraper align-items-center">
          <div class="col">
            Show 
            <select name="" id="">
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="40">40</option>
              <option value="50">60</option>
            </select>
            Records
          </div>
          <div class="col text-right">
            <div class="search-wraper align-items-center d-flex">
              <fa name="search"></fa>
              <input type="text" name="search" class="form-control" id="">
            </div>            
          </div>
        </div>
        <div class="table-responsive admin-table">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>#</th>
                <th>
                  Date
                  <fa name="sort"></fa>
                </th>
                <th>
                  Customer
                  <fa name="sort"></fa>
                </th>
                <th>
                  Company
                  <fa name="sort"></fa>
                </th>
                <th>
                  Status
                  <fa name="sort"></fa>
                </th>
                <th>
                  Total
                  <fa name="sort"></fa>
                </th>
                <th>
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of dataList; let i = index">
                <td>{{data.id}}</td>
                <td>{{data.date}}<span class="time">{{data.time}}</span></td>
                <td>{{data.customer}}</td>
                <td>{{data.campaign}}</td>
                <td>
                  <span *ngIf="data.status === 'pending'" class="pending">Pending</span>
                  <span *ngIf="data.status === 'fail'" class="fail">Fail</span>
                  <span *ngIf="data.status === 'complete'" class="complete">Complete</span>
                </td>
                <td>
                  <span class="complete">
                    {{data.total}}
                  </span>
                </td>
                <td>
                  <div class="btn-toolbar mb-2 mb-md-0 ">
                    <div class="btn-group mr-2 m-auto">
                      <button type="button" class="btn btn-sm btn-outline-secondary bg-white"><fa name="check"></fa></button>
                      <button type="button" class="btn btn-sm btn-outline-secondary bg-white"><fa name="file"></fa></button>
                      <button type="button" class="btn btn-sm btn-outline-secondary bg-white"><fa name="pencil"></fa></button>
                      <button type="button" class="btn btn-sm btn-outline-secondary bg-white"><fa name="trash"></fa></button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
            <div class="row align-items-center">
              <div class="col">
                showing 1 to 10 outof 50
              </div>
              <div class="col text-right">
                  <nav class="pull-right" aria-label="...">
                      <ul class="pagination">
                        <li class="page-item disabled">
                          <span class="page-link">Previous</span>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item" aria-current="page">
                          <span class="page-link">
                            2
                            <span class="sr-only">(current)</span>
                          </span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#">Next</a>
                        </li>
                      </ul>
                    </nav>
              </div>
            </div>
          </div>
      </div>
    </main>
  </div>
</div>
