body {
    font-size: .875rem;
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        padding: 48px 0 0;
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    }
}
.hight-chart {
    width: 460px;
    display: block;
    overflow: hidden;
    position: absolute;
    left: -22px;
    bottom: 0px;
    > div {
        width: 100% !important;
        svg {
            width: 100%
        }
    }
}
.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }
.admin-container {
    padding: 0 40px;
    color: #63738d;
    .admin-dash-title {
        span {
            font-size:11px;
            letter-spacing: 5px;
        }
        
    }
    .table-search-wraper {
        padding: 13px;
    }
    .search-wraper {
        border: 1px solid #ddd;
        border-radius: 3px;
        width: 300px;
        margin-left: auto;
        padding: 3px 11px;
        input[type="text"] {
            border: 0;
            width: 100%;
            padding: 4px;

        }
    }
    .card {
        .pt-6 {
            padding-top: 75px !important;
        }
        .card-header {
            font-weight: bold;
            font-size: 20px;
        }
        .card-header, .card-footer {
            background: #fff;
        }
        .card-body {
            position: relative;
            padding-top: 30px;
            .cardHead {
                position: absolute;
                top: 0;
                width: 100%;
                background: #fbfbfb;
                left: 15px;
                padding: 10px 0px;
            }
        }
    }
    .admin-table {
        margin-bottom: 0px;
        table {
            margin:0;
            thead {
                background: #fbfbfb;
                tr {
                    th {
                        padding:12px;
                        fa {
                            margin-left: auto;
                            float: right;
                        }
                    }
                }
            }
            tr {
                td{
                    padding: 7px 12px;
                    border-right: 1px solid #dee2e6;
                    vertical-align: middle;
                    
                    &:last-child {
                        border-right: 0;
                    }
                    .pending {
                        color: #fcd980
                    }
                    .complete {
                        color: #8fe4bb;
                    }
                    .fail {
                        color: #ef7070;
                    }
                    .time {
                        color: #999;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    .pie-chart-legent {
        margin-top: 35px !important;
        width: 328px;
        margin: auto;
        .desktop, .tablet, .mobile {
            i {
                font-size: 25px;
                color: #1c88fb;
            }
            p {
                margin: 0;
                font-size: 12px;
            }
            h3 {
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
    .pagination {
        margin: 0;
    }
    .admin-score-widget  {
        padding: 10px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px #d4d4d4;
        position: relative;
        overflow: hidden;
        height: 206px;
        .up {
            color: #0f0;
            .flex-column {
                position: relative;
                width: 14px;
                .fa-sort-up {
                    position: absolute;
                    left: 0;
                    top: 5px;
                }
                
            }
        }
        .down {
            color: #f00;
            .flex-column {
                position: relative;
                width: 14px;
                .fa-sort-down {
                    position: absolute;
                    left: 0;
                    top: -1px;
                }
            }
        }
        .middle {
            color: #ffde86;
            .flex-column {
                position: relative;
                width: 14px;
                .fa-sort-up {
                    position: absolute;
                    left: 0;
                    top: 8px;
                }
                .fa-sort-down {
                    left: 0;
                    position: absolute;
                    top: 8px;
                }
            }
        }
        fa {
            height: 15px;
        }
    }
    .btn {
        &.active {
            color: #fff !important;
            background: #037afb !important;
        }
    }
}
@media (min-width: 768px){
    [role="main"] {
        padding-top: 55px;
    }
}

@media (min-width: 576px) {
    .ml-sm-auto, .mx-sm-auto {
        margin-left: auto!important;
    }
}
